{% extends "base.html" %}

{% block content %}
    <div class="container">
        <nav>
            <ul>
                <li><strong>{{ quiz_name }}</strong></li>
            </ul>
        </nav>
        <div hx-ext="ws" ws-connect="/play/ws/{{ room_code }}/{{ connection_id }}">
            <div id="game_content">
                <article>
                    <span aria-busy="true">čekej, probíhá připojování k místnosti</span>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
