<li class="answer-list-row" hx-target="this" hx-swap="outerHTML">
    {{ answer.text }}
    {% if editable %}
        <a
                href="#"
                hx-get="{{ url_for('answer_row_edit', answer_id=answer.id) }}"
                hx-trigger="click"
                title="upravit"
        >
            ✎
        </a>
        <a
                href="#"
                hx-delete="{{ url_for('answer_row_delete', answer_id=answer.id) }}"
                hx-trigger="click"
                title="smazat"
        >
            🗑
        </a>
    {% endif %}
</li>
