<li class="new-answer-row-edit">
    <input
            type="text"
            name="answer_text"
            value=""
            placeholder="text odpovědi"
            autofocus
    />
    <a
            href="#"
            hx-post="{{ url_for('new_answer_row_post') }}"
            hx-include="[name='answer_text']"
            hx-target=".quiz"
            hx-trigger="click, keyup[key=='Enter'] from:[name='answer_text']"
            hx-swap="outerHTML"
            title="vytvořit"
    >
        ✅
    </a>
    <a
            href="#"
            hx-get="{{ url_for('new_answer_row') }}"
            hx-target=".new-answer-row-edit"
            hx-trigger="click, click from:.answer-list-row, keyup[key=='Escape'] from:[name='answer_text']"
            hx-swap="outerHTML"
            title="zrušit"
    >
        ❌
    </a>
</li>
