<tr
    class="new-quiz-row"
    hx-get="{{ url_for('new_quiz_row_edit') }}"
    hx-swap="outerHTML"
    hx-on:click="htmx.trigger('.dismissable', 'dismiss-quiz-edit')"
>
    <td colspan="2" class="buttons-column left">
        <span class="buttons-container-left">
            <span class="fa fa-plus" style="color: #7f7f7f;"></span>
            Vytvořit nový kvíz
        </span>
        <span class="dismissable" hx-on:dismiss-quiz-edit=""/> {# dummy consumer of the dismiss event #}
    </td>
</tr>
