<tr class="new-quiz-row-edit">
    <td>
        <input
            type="text"
            name="quiz_name"
            value=""
            placeholder="Název kvízu"
            autofocus
        />
    </td>
    <td class="buttons-column">
        <span class="buttons-container">
            <a
                href="#"
                hx-post="{{ url_for('new_quiz_row_post') }}"
                hx-include="[name='quiz_name']"
                hx-target=".quizzes table"
                hx-trigger="click, keyup[key=='Enter'] from:[name='quiz_name']"
                hx-swap="outerHTML"
                title="Vytvořit"
            >
                <span class="fa fa-check-square"></span>
            </a>
            <a
                href="#"
                hx-get="{{ url_for('new_quiz_row') }}"
                hx-target=".new-quiz-row-edit"
                hx-trigger="click, click from:.quiz-list-row, keyup[key=='Escape'] from:[name='quiz_name']"
                hx-swap="outerHTML"
                title="Zrušit"
            >
                <span class="fa fa-window-close" style="color: red;"></span>
            </a>
        </span>
    </td>
</tr>
