<tr class="new-question-row-edit">
    <td>
        <input
            type="text"
            name="question_text"
            value=""
            placeholder="Otázka"
            autofocus
        />
    </td>
    <td class="buttons-column">
        <span class="buttons-container">
            <a
                href="#"
                hx-post="{{ url_for('new_question_row_post', quiz_id=quiz.id) }}"
                hx-include="[name='question_text']"
                hx-target=".quiz-questions"
                hx-trigger="click, keyup[key=='Enter'] from:[name='question_text']"
                hx-swap="outerHTML"
                title="Vytvořit"
            >
                <span class="fa fa-check-square"></span>
            </a>
            <a
                href="#"
                class="dismissable"
                hx-get="{{ url_for('new_question_row', quiz_id=quiz.id) }}"
                hx-target=".new-question-row-edit"
                hx-trigger="click, dismiss-question-edit, keyup[key=='Escape'] from:[name='question_text']"
                hx-swap="outerHTML"
                title="Zrušit"
            >
                <span class="fa fa-window-close" style="color: red;"></span>
            </a>
        </span>
    </td>
</tr>
