<li class="new_answer_row_edit">
    <input
            type="text"
            name="answer_text"
            value=""
            placeholder="text odpovědi"
            autofocus
    />
    <button
            hx-post="{{ url_for('new_answer_row_post') }}"
            hx-include="[name='answer_text']"
            hx-target=".quiz"
            hx-trigger="click, keyup[key=='Enter'] from:[name='answer_text']"
            hx-swap="outerHTML"
    >
        ok
    </button>
    <button
            hx-get="{{ url_for('new_answer_row') }}"
            hx-target=".new_answer_row_edit"
            hx-trigger="click, click from:.answer-list-row, keyup[key=='Escape'] from:[name='answer_text']"
            hx-swap="outerHTML"
    >
        zrušit
    </button>
</li>
