<tr class="question-list-row{{ ' selected' if question == selected_question }}">
    <td
        onclick="scrollToTop()"
        hx-post="{{ url_for('quiz_select_question', quiz_id=quiz.id, question_id=question.id) }}"
        hx-target=".quiz-questions"
        hx-swap="outerHTML"
    >
        <span>{{ question.text }}</span>
    </td>
    <td class="buttons-column">
        {% if editable %}
        <span class="buttons-container">
            <a
                href="#"
                hx-get="{{ url_for('question_row_edit', question_id=question.id) }}"
                hx-trigger="click"
                hx-target="closest tr"
                hx-swap="outerHTML"
                hx-on:click="htmx.trigger('.dismissable', 'dismiss-question-edit')"
                title="Upravit"
            >
                <span class="fa fa-edit"></span>
            </a>
            <a
                href="#"
                hx-delete="{{ url_for('question_row_delete', question_id=question.id) }}"
                hx-trigger="click"
                hx-target=".quiz-questions"
                hx-swap="outerHTML"
                title="Smazat"
            >
                <span class="fa fa-trash" style="color: red"></span>
            </a>
        </span>
        {% endif %}
    </td>
</tr>
