<tr class="quiz_row_edit">
    <td>
        <input
            type="text"
            name="quiz_name"
            value="{{ quiz.name }}"
            placeholder="{{ quiz.name }}"
            autofocus
            onfocus="this.select();"
        />
    </td>
    <td class="buttons-column">
        <span class="buttons-container">
            <a
                href="#"
                hx-patch="{{ url_for('quiz_row_patch', quiz_id=quiz.id) }}"
                hx-include="[name='quiz_name']"
                hx-trigger="click, keyup[key=='Enter'] from:[name='quiz_name']"
                hx-target=".quiz_row_edit" 
                hx-swap="outerHTML"
                title="Uložit"
            >
                <span class="fa fa-check-square"></span>
            </a>
            <a
                href="#"
                hx-get="{{ url_for('quiz_row_get', quiz_id=quiz.id) }}"
                hx-trigger="click, click from:.quiz-list-row, click from:.new-quiz-row, keyup[key=='Escape'] from:[name='quiz_name']"
                hx-target=".quiz_row_edit" 
                hx-swap="outerHTML"
                title="Zrušit"
            >
                <span class="fa fa-window-close" style="color: red;"></span>
            </a>
        </span>
    </td>
</tr>
