<div id="room-content">
    <section>
        <h2>Aktivní hry</h2>
        {% if games %}
        <table>
            {% for game in games %}
            <tr>
                <td>{{ game.player_a.name if game.player_a.name is not none else '(Jméno nezadáno)' }} vs {{ game.player_b.name if game.player_b.name is not none else '(Jméno nezadáno)' }}</td>
                <td>{{ game.id }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Nejsou vytvořeny žádné aktivní hry.</p>
        {% endif %}
    </section>
    <section>
        <h2>Hráči čekající na soupeře</h2>
        {% if waiting %}
        <table>
            {% for player in waiting %}
            <tr>
                {% if not player.name %}
                <td>(jméno nezadáno)</td>
                {% else %}
                <td>{{ player.name }}</td>
                {% endif %}
                <td></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Nebyli nalezeni žádní čekající hráči.</p>
        {% endif %}
    </section>
    <section>
        <h2>Připojení hráči</h2>
        {% if players %}
        <table>
            {% for player in players %}
            <tr>
                <td>{{ player.name if player.name is not none else '(Jméno nezadáno)' }}</td>
                <td><a href="#" ws-send hx-vals='{"action": "reject_name", "player_id": "{{ player.id }}"}'>odmítnout jméno</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Nejsou připojení žádní hráči.</p>
        {% endif %}
    </section>
</div>