{% extends "base.html" %}

{% block header %}
<header>
    {% include 'partials/header_admin.html' %}
</header>
{% endblock %}

{% block content %}
<main class="room">
    <header class="room-information">
        <div class="room-information-container">
            <div class="room-information-left">
                <h2><a href="{{ url }}" title="Přejít do místnosti">{{ room.quiz.name }}</a></h2>
                <span class="room-url">{{ url }}</span>
                <a href="{{ url_for('room_close', room_code=room.code) }}" class="room-delete-link"><span class="fa fa-times"></span> Odstranit místnost</a>
            </div>
            <span class="room-link">{{ room.code }}</span>
            <div class="room-information-right">
                {{ qrcode|safe }}
            </div>
        </div>
    </header>

    <section class="room-dynamic-content">
        <div hx-ext="ws" ws-connect="/room/ws/{{ room.code }}">
            <div id="room-content">
                <p class="message">Čekej, probíhá připojování...</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
