{% extends "base.html" %}

{% block header %}
<header>
    {% include 'partials/header_admin.html' %}
</header>
{% endblock %}

{% block content %}
<main class="quizzes">
    <section class="quiz-list">
        <h2>Seznam kvízů</h2>
        {% if quizzes_and_rooms %}
        <table>
            {% for quiz, room in quizzes_and_rooms %}
            <tr>
                <td><span>{{ quiz.name }}</span></td>
                {% if room %}
                <td><a href="{{ url_for('room_root', room_code=room.code) }}">otevřená místnost</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Nejsou zde žádné kvízy.</p>
        {% endif %}
    </section>
</main>
{% endblock %}
