{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Gamedify</h1>
        <article>
            <header>Seznam kvízů</header>
            <ul>
                {% for quiz, room in quizzes_and_rooms %}
                    <li>
                        {{ quiz.name }}
                        {% if room %}
                            - <a href="{{ url_for('room_root', room_code=room.code) }}">otevřená místnost</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </article>
    </div>
{% endblock %}
