:root {
    --page-width: 900px;
}

html {
    font-size: 12pt;
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
}

main.room {
    flex-direction: column;
}

/* header */
body>header {
    background-color: rgb(29, 43, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
}

body>header h1,
body>header h1 a {
    color: rgba(255, 255, 255, 0.4);
}

body>header h1 {
    margin-left: 20px;
}

body>header h1 a {
    text-decoration: none;
    font-size: 2rem;
}

body>header .quiz-name {
    color: white;
    margin: 0 20px;
}

/* navigation */
nav ul {
    margin: 0 20px 0 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* table */
table {
    border-radius: 8px;
    width: 100%;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    box-shadow: 3px 3px 5px rgb(141, 141, 141);
    border-spacing: 0;
}

tr:nth-child(odd) td {
    background-color: #ececec;
}

tr:first-child td:first-child:first-of-type {
    border-top-left-radius: 8px;
}

tr:first-child td:last-child:first-of-type {
    border-top-right-radius: 8px;
}

tr:last-child td:first-child:last-of-type {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child:last-of-type {
    border-bottom-right-radius: 8px;
}

td {
    padding: 8px;
    margin: 0;
}

table td:last-of-type {
    text-align: right;
}

table a {
    text-decoration: none;
    color: #37858b;
}

table a:hover {
    text-decoration: underline;
    color: #1b595e;
}

/* form */
.form-container,
.login-form-container {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgb(141, 141, 141);
    margin-top: 50px;
}

.form-container {
    height: 250px;
}

.login-form-container {
    height: 350px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

form label {
    text-align: center;
    margin-top: 20px;
}

form input:not([type="submit"]) {
    height: 50px;
    text-align: center;
    font-size: 2.0rem;
    width: 80%;
    border-radius: 8px;
    outline: none;
    border: 2px solid #818181;
    color: #8d8d8d;
}

form input::placeholder {
    color: #bbbbbb;
}

form input[type="submit"] {
    background-color: #37858b;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    width: 60%;
    margin-top: auto;
    margin-bottom: 20px;
}

form .error {
    text-align: center;
    color: #e04040;
    font-size: 0.8rem;
    margin: 0;
}

/* quiz list */
section.quiz-list {
    width: 90%;
    margin-top: 50px;
}

/* game page */
.game-container {
    width: 100%;
}

.game {
    width: 100%;
    margin: 0 auto;
}

#game-content {
    display: flex;
    justify-content: center;
}

.board-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.player-container {
    display: flex;
    justify-content: space-between;
}

.player-container div {
    padding: 10px;
    margin: 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    color: #404040;
}

.player-container span {
    font-weight: bold;
    align-self: center;
}

.player-a {
    border-color: #b9ecb0;
}

.player-b {
    border-color: #E3B0EC;
}

.player-a.on_turn {
    background-color: #b9ecb0;
}

.player-b.on_turn {
    background-color: #E3B0EC;
}


/* quiz page */
.quiz {
    display: flex;
    align-items: flex-start;
}

.quiz section {
    flex: 50%;
    margin: 1rem;
    border: 1px solid #404040;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fdf8f0;
    box-shadow: 3px 3px 5px rgb(141, 141, 141);
}

.question-list ul {
    list-style-type: none;
    padding: 0;
}

.question-list ul li {
    border-top: 1px solid #404040;
    padding: 0.3rem;
}

.question-list ul li span {
    cursor: pointer;
}

.question-list ul li.selected {
    background-color: #b9ecb0;
}

.question-list ul:last-child {
    border-bottom: 1px solid #404040;
}

li.new_question_row {
    color: #808080;
    cursor: pointer;
}

.answer-list ul {
    list-style-type: none;
    padding: 0;
}

.answer-list ul li {
    border-top: 1px solid #404040;
    padding: 0.3rem;
}

li.new_answer_row {
    color: #808080;
    cursor: pointer;
}

.answer-list ul:last-child {
    border-bottom: 1px solid #404040;
}

/* room page */
.room-information-container,
.room-dynamic-content {
    width: 90%;
    margin: 0 auto;
}

.room-information {
    background-color: #fdf8f0;
}

.room-information-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.room-information-left {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 6px;
}

.room-information-left header,
.room-information-left p {
    margin: 0;
}

.room-information-right {
    padding: 10px 0;
}

.room-link {
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

/* other */
.message {
    color: #616161;
}

@media only screen and (min-width: 576px) {

    .form-container,
    .login-form-container {
        width: 325px;
    }

    .room-link {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 758px) {

    .room-link {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 992px) {

    section.quiz-list,
    .game,
    .room-information-container,
    .room-dynamic-content {
        width: var(--page-width)
    }

    .room-link {
        font-size: 2.4rem;
    }
}