{% extends "base.html" %}

{% block content %}
    <div class="container">
        <nav>
            <ul>
                <li><strong>Gamedify</strong></li>
            </ul>
            <ul>
                <li><a href="{{ url_for('quiz_root') }}">Přihlásit</a></li>
            </ul>
        </nav>
        <article>
            <form action="/" method="POST">
                <label>
                    Kód místnosti:
                    <input type="text" name="code" placeholder="123-456" value="{{ value }}" required/>
                    {% if invalid_code %}
                        <small style="color:#e04040">Neplatný kód</small>
                    {% endif %}
                </label>
                <input type="submit" value="Připojit se"/>
            </form>
        </article>
    </div>
{% endblock %}
