{% extends "base.html" %}

{% block header %}
<header>
    <h1>Gamedify</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('login_form') }}">Přihlásit se</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
<main class="form">
    <div class="form-container">
        <form action="/" method="POST">
            <label for="room-code">Kód místnosti:</label>
            <input id="room-code" type="text" name="code" placeholder="123-456" value="{{ value|e }}"
                    required aria-invalid="{{ invalid_code|string|lower }}"/>
            {% if invalid_code %}
                <p class="error">Neplatný kód</p>
            {% endif %}
            <input type="submit" value="Připojit se"/>
        </form>
    </div>
</main>
{% endblock %}
